[submodule "output"]
	path = output
	url = git@github.com:lugparana/lugparana.github.io.git
[submodule "theme"]
	path = theme
	url = git@github.com:alexandrevicenzi/Flex
[submodule "lugparana-pelican-theme"]
	path = lugparana-pelican-theme
	url = git@github.com:chinosoliard/lugparana-pelican-theme
