{% extends "base.html" %}

{% block header %}
	{% include 'header.html' %}
	{% include 'menu.html' %}
{% endblock %}

{% block content %}

	{% if articles %}
	<!-- BLOG -->
	<section id="quick-blog" class="alternate">
		<div class="container">
			<header class="text-center">
				<h1>BLOG</h1>
				<p>ÚLTIMAS PUBLICACIONES</p>
			</header>
			<article>
				<div class="row animate_fade_in">
					{% for article in articles[:3] %}
					<div class="col-md-4 quick-hover">
						<div class="quick-item">
						{% if article.featured %}
							<figure class="media-preview">
							{% if article.type|lower=='image' %}
								<img src="{{article.featured}}" class="img-responsive" data-src="holder.js/360x200/#676767:#555555/auto/" alt="img" />
							{%elif article.type|lower=='video'%}
								<iframe class="fitvids" src="{{article.featured}}" width="800" height="450"></iframe>
							{%elif article.type|lower=='audio'%}
								<iframe class="fullwidth" height="166" src="{{article.featured}}"></iframe>
							{% endif %}
							</figure>
						{% endif %}
						{% if article.link %}
							<h4><a class="theme_link" href="{{ article.link }}">{{article.title}} <i class="fa fa-external-link" target="_blank"></i></a></h4>
						{%else%}
							<h4><a class="theme_link" href="{{ SITEURL }}/{{ article.url }}">{{article.title}}</a></h4>
						{%endif%}
							<p>{{article.summary}}</p>
						
        						<a href="{{ SITEURL }}/{{ article.url }}" class="btn btn-xs theme_link"><i class="fa fa-sign-out"></i> MÁS INFO</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</article>
			<article class="text-center" data-animation="bounceIn">
					<a href="blog.html" class="plusNav" title="more from blog">+</a>
			</article>
		</div>
	</section>
	<!-- /BLOG -->
	{% endif %}

	<section id="about">
		<div class="container">
		{% if LOGO %}
			<div class="container">
				<div class="me-picture text-center">
					<div class="item">
					<img class="img-responsive" src="{{LOGO}}" width="200" height="200" alt="" />
					</div>
					<hr />
				</div>
			</div>
		{% endif %}

		{% for p in PAGES|sort(attribute='sortorder') %}
			<section id="{{p.slug}}">
			<header class="text-center">
				<h1>{{ p.title }}</h1>
			</header>
				<article class="text-center big-paragraph">
				{% if p.intro %}
					<p>{{ p.intro }}</p>
					</article>
					<a href="{{ SITEURL }}/{{ p.url }}" class="btn theme_link"><i class="fa fa-sign-out"></i> MÁS INFO</a>
				{% else %}
					<p>{{ p.content }} </p>
					</article>
				{% endif %}
					<div class="divider"><!-- lines divider --></div>
			</section>	
		{% endfor %}
		</div>
	</section>

{% endblock %}
